@import "tailwindcss";

body {
    font-family: sans-serif;
}

ul {
    list-style-type: disc;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
}