---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import SEO from "../components/SEO.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-icon.jpg" />
    <meta name="theme-color" content="#09090B" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} />
  </head>
  <body
    class="bg-[#1E3A5F] text-[#EAF4FF] min-h-screen flex items-center justify-center"
  >
    <div class="max-w-2xl mx-auto pt-5 sm:pt-15 p-10 flex flex-col">
      <p class="text-3xl sm:text-5xl pb-2">mustaeen ahmed</p>
      <div>
        <p class="text-md font-semibold">current</p>
        <ul class="text-sm sm:text-md pl-5 pb-5 list-disc">
          <li>working at ?</li>
          <li>
            <div class="flex flex-wrap items-center gap-y-1">
              <span class="shrink-0 whitespace-nowrap mr-1"
                >contributing to</span
              >

              <a
                href="https://prometheus.io/"
                target="_blank"
                aria-label="Prometheus"
                class="w-8 h-8 inline-flex items-center justify-center"
              >
                <Icon name="logos/prometheus" class="block w-6 h-6" />
              </a>
              <a
                href="https://opentelemetry.io/"
                target="_blank"
                aria-label="OpenTelemetry"
                class="w-8 h-8 inline-flex items-center justify-center"
              >
                <Icon name="logos/opentelemetry" class="block w-6 h-6" />
              </a>
              <a
                href="https://clickhouse.com/"
                target="_blank"
                aria-label="ClickHouse"
                class="w-8 h-8 inline-flex items-center justify-center"
              >
                <Icon name="logos/clickhouse" class="block w-6 h-6" />
              </a>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center gap-1">
              studying at
              <a href="https://www.ucf.edu/" target="_blank" aria-label="UCF">
                <Icon name="logos/ucf" size={30} class="inline-block" />
              </a>
            </div>
          </li>
        </ul>
      </div>
      <p class="text-md font-semibold">previous</p>
      <ul class="text-sm sm:text-md pl-5 pb-5 list-disc">
        <li>
          <div class="flex flex-row flex-wrap items-center gap-2">
            <a
              href="https://www.cloudflare.com/"
              target="_blank"
              aria-label="Cloudflare"
            >
              <Icon name="logos/cloudflare" size={30} class="inline-block" />
            </a>
            <a
              href="https://joinhandshake.com/"
              target="_blank"
              aria-label="Handshake"
            >
              <Icon name="logos/handshake" size={30} class="inline-block" />
            </a>
            <a
              href="https://www.morganstanley.com/"
              target="_blank"
              aria-label="Morgan Stanley"
            >
              <Icon name="logos/morganstanley" size={30} class="inline-block" />
            </a>
            <a
              href="https://www.leidos.com/"
              target="_blank"
              aria-label="Leidos"
            >
              <Icon name="logos/leidos" size={30} class="inline-block" />
            </a>
            <a href="https://www.cae.com/" target="_blank" aria-label="CAE">
              <Icon name="logos/cae" size={30} class="inline-block" />
            </a>
            <a
              href="https://8vc.com/"
              target="_blank"
              aria-label="Ideaflow (8VC)"
            >
              <Icon name="logos/8vc" size={30} class="inline-block" />
            </a>
            <a
              href="https://www.darden.com/"
              target="_blank"
              aria-label="Darden"
            >
              <Icon name="logos/darden" size={30} class="inline-block" />
            </a>
          </div>
        </li>
        <li>... among others!</li>
      </ul>
      <div>
        <div class="text-sm text-[#EAF4FF] flex flex-row gap-4 pb-5">
          <a
            href="/resume.pdf"
            target="_blank"
            class="hover:text-[#A7DBFF] inline-flex items-center justify-center"
          >
            <Icon
              name="logos/resume"
              size={20}
              class="block"
              aria-label="Resume"
            />
          </a>
          <a
            href="https://github.com/must108"
            target="_blank"
            class="hover:text-[#A7DBFF] inline-flex items-center justify-center"
          >
            <Icon
              name="logos/github_dark"
              size={20}
              class="block"
              aria-label="GitHub"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/mustaeenahmed/"
            target="_blank"
            class="hover:text-[#A7DBFF] inline-flex items-center justify-center"
          >
            <Icon
              name="logos/linkedin"
              size={20}
              class="block"
              aria-label="LinkedIn"
            />
          </a>
          <a
            href="mailto:contact@mustaeen.dev"
            target="_blank"
            class="hover:text-[#A7DBFF] inline-flex items-center justify-center"
          >
            <Icon
              name="logos/mail"
              size={25}
              class="block"
              aria-label="Email"
            />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
