---
import "../styles/global.css";
import SEO from "../components/SEO.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-icon.jpg" />
    <meta name="theme-color" content="#09090B" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} />
  </head>
  <body
    class="bg-[#102A43] text-[#EAF4FF] min-h-screen flex items-center justify-center"
  >
    <div class="w-full max-w-2xl mx-auto pt-5 sm:pt-15 p-10 flex flex-col gap-5 text-left">
      <h1 class="text-5xl">hi, i'm mustaeen.</h1>
      <div>
        <h2 class="font-bold">about me:</h1>
        <ul class="ml-5">
          <li>cs @ 
            <a href="https://www.ucf.edu/" rel="noopener noreferrer" target="_blank">ucf</a>
          </li>
          <li>always welcoming the chance to work on new problems!</li>
        </ul>
      </div>
      <div>
        <h2 class="font-bold">places i've worked:</h1>
        <ul class="ml-5">
          <li>
            <a href="https://www.cloudflare.com/" rel="noopener noreferrer" target="_blank">cloudflare</a>, 
            <a href="https://www.primevideo.com/" rel="noopener noreferrer" target="_blank">amazon prime video</a>, 
            <a href="https://www.twilio.com" rel="noopener noreferrer" target="_blank">twilio</a>, 
            <a href="https://clickhouse.com/" rel="noopener noreferrer" target="_blank">clickhouse</a>, 
            <a href="https://joinhandshake.com/" rel="noopener noreferrer" target="_blank">handshake</a>, 
            <a href="https://www.morganstanley.com/" rel="noopener noreferrer" target="_blank">morgan stanley</a>, 
            <a href="https://www.pwc.com" rel="noopener noreferrer" target="_blank">pwc</a>, 
            <a href="https://www.leidos.com/" rel="noopener noreferrer" target="_blank">leidos</a>, 
            <a href="https://simplify.jobs/" rel="noopener noreferrer" target="_blank">simplify</a>, 
            <a href="https://www.ornl.gov/" rel="noopener noreferrer" target="_blank">ornl</a>, 
            <a href="https://www.cae.com/" rel="noopener noreferrer" target="_blank">cae</a>, 
            <a href="https://www.darden.com/" rel="noopener noreferrer" target="_blank">darden</a>, 
            <a href="https://ideaflow.io/" rel="noopener noreferrer" target="_blank">ideaflow</a>, 
            <a href="https://www.transportation.gov/" rel="noopener noreferrer" target="_blank">usdot</a>, 
            <a href="https://redcanyonsoftware.com/" rel="noopener noreferrer" target="_blank">red canyon</a>, 
            <a href="https://www.nih.gov/" rel="noopener noreferrer" target="_blank">nih</a>, 
            <a href="https://www.nsf.gov/" rel="noopener noreferrer" target="_blank">nsf</a>, 
            <a href="https://creol.ucf.edu/" rel="noopener noreferrer" target="_blank">creol</a>, 
            <a href="https://www.netc.navy.mil/" rel="noopener noreferrer" target="_blank">netc</a>, 
            <a href="https://www.ist.ucf.edu/" rel="noopener noreferrer" target="_blank">ucf ist</a>, 
            <a href="https://www.ocps.net/" rel="noopener noreferrer" target="_blank">ocps</a>, 
            <a href="https://www.orangetechcollege.net/" rel="noopener noreferrer" target="_blank">otc</a>, 
            <a href="https://club.knighthacks.org/" rel="noopener noreferrer" target="_blank">knight hacks</a>, 
            <a href="https://ucf.acm.org/" rel="noopener noreferrer" target="_blank">acm@ucf</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="font-bold">links:</h1>
          <ul class="ml-5">
            <li>
              <a href="https://github.com/must108" rel="noopener noreferrer" target="_blank">github</a>, 
              <a href="https://www.linkedin.com/in/mustaeenahmed/" rel="noopener noreferrer" target="_blank">linkedin</a>, 
              <a href="mailto:contact@mustaeen.dev">email</a>
            </li>
          </ul>
      </div>
    </div>
  </body>
</html>
